body, html {
    height: 100%;
    margin: 0;
}
.background {
    background: url(background\ copy.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.55;
    position: relative;
}
.cont {
    position: absolute;
    transform: translate(-50%, -50%);
    max-width: 100%;
    top: 45%;
    left: 50%;
    padding: 20px;
}
form {
    display: flex;
    flex-direction: row;
}
.search-field {
    width: 900px;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
    box-shadow: 3px 3px 4px black;
}
.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}
.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.text {
    text-align: center;
    color: aliceblue;
    text-shadow: 3px 3px 4px black;
    padding: 10px;
}
.movie_tiles {
    color: black;
}
.movie_tiles ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie_tiles li {
    width: 150px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.movie_tiles div.gallery {
    flex: 1;
}
.movie_tiles div.gallery img {
    width: 100%;
    height: auto;
}
.movie_tiles div.desc {
    text-align: center;
    color: black;
    padding: 10px;
    background-color: white;
    flex: 1;
}
.movie_tiles div.desc span {
    display: block;
    overflow-wrap: break-word;
}
* {
    box-sizing: border-box;
}