<!DOCTYPE html>
<html>
    <head>
        <title>Film Information</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <!-- Planned for a later data
            <div class="parallax-container"></div>
        -->
            {% if trailer %}
            <div class="background-container">
                <div class="overlay"></div>
                <img src="https://image.tmdb.org/t/p/original{{ film_data_dict['poster_path'] }}" alt="Poster background">
                <div class="content-overlay">
                    <div class="text-content">
                        {% if film_data_dict['title'] %}
                        <h3>Title: {{ film_data_dict['title'] }}</h3>
                        {% else %}
                        <h3>Title: {{ film_data_dict['name'] }}</h3>
                        {% endif %}
                        <p>Overview: {{ film_data_dict['overview'] }}</p>
                        {% if film_data_dict['release_date'] %}
                        <p>Release Date: {{ film_data_dict['release_date'] }}</p>
                        {% else %}
                        <p>Release Date: {{ film_data_dict['first_air_date'] }}</p>
                        {% endif %}
                        <p>Genres: 
                            {% for genre_name in genre_names %}
                            {% if loop.last %}
                            {{ genre_name }}
                            {% else %}
                            {{ genre_name }},
                            {% endif %}
                            {% endfor %}
                        </p>
                        <div>
                            <div class="flex-wrapper">
                                {% set vote_count = film_data_dict['vote_average'] * 10 %}
                                <div class="single-chart">
                                    <svg viewBox="0 0 36 36" class="circular-chart {% if vote_count >= 70 %}green{% elif vote_count >= 40 %}orange{% else %}red{% endif %}">
                                        <path class="circle-bg"
                                        d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831"
                                        />
                                        <path class="circle"
                                        stroke-dasharray="{{vote_count}}, 100"
                                        d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831"
                                        />
                                        <text x="18" y="20.35" class="percentage">{{ vote_count | int }}%</text>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="iframe-container">
                        <iframe 
                        width="560" height="315" 
                        src="https://www.youtube.com/embed/{{ trailer }}" title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="background-container">
                <div class="overlay"></div>
                <img src="https://image.tmdb.org/t/p/original{{ film_data_dict['poster_path'] }}" alt="Poster background">
                <div class="content-overlay">
                    <div class="text-content">
                        {% if film_data_dict['title'] %}
                        <h3>Title: {{ film_data_dict['title'] }}</h3>
                        {% else %}
                        <h3>Title: {{ film_data_dict['name'] }}</h3>
                        {% endif %}
                        <p>Overview: {{ film_data_dict['overview'] }}</p>
                        {% if film_data_dict['release_date'] %}
                        <p>Release Date: {{ film_data_dict['release_date'] }}</p>
                        {% else %}
                        <p>Release Date: {{ film_data_dict['first_air_date'] }}</p>
                        {% endif %}
                        <p>Genres: 
                            {% for genre_name in genre_names %}
                            {% if loop.last %}
                            {{ genre_name }}
                            {% else %}
                            {{ genre_name }},
                            {% endif %}
                            {% endfor %}
                        </p>
                        <div class="flex-wrapper">
                            {% set vote_count = film_data_dict['vote_average'] * 10 %}
                            <div class="single-chart">
                                <svg viewBox="0 0 36 36" class="circular-chart {% if vote_count >= 70 %}green{% elif vote_count >= 40 %}orange{% else %}red{% endif %}">
                                    <path class="circle-bg"
                                    d="M18 2.0845
                                    a 15.9155 15.9155 0 0 1 0 31.831
                                    a 15.9155 15.9155 0 0 1 0 -31.831"
                                    />
                                    <path class="circle"
                                    stroke-dasharray="{{vote_count}}, 100"
                                    d="M18 2.0845
                                    a 15.9155 15.9155 0 0 1 0 31.831
                                    a 15.9155 15.9155 0 0 1 0 -31.831"
                                    />
                                    <text x="18" y="20.35" class="percentage">{{ vote_count | int }}%</text>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        <!-- Planned for later
            <div style="height: 1000px; background-color: white;">
                <h1>Hello!</h1>
            </div>
        -->
    </body>
</html>