<!DOCTYPE html>
<html>
    <head>
        <title>Random Movie Generator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>Search Selctions</h1>
        <p>Select from one of the available options to generate a random movie title:</p>
        <form action="{{ url_for('redirect_search') }}" method="post">
            <button type="submit" name="search_type" value="discover_movies_by_genre">Discover Movies by Genre</button>
        </form>
        <form action="{{ url_for('redirect_search') }}" method="post">
            <button type="submit" name="search_type" value="discover_tv_by_genre">Discover TV Shows by Genre</button>
        </form>
        <form action="{{ url_for('redirect_search') }}" method="post">
            <button type="submit" name="search_type" value="discover_movies_by_actor">Discover Movies by Actor</button>
        </form>
        <form action="{{ url_for('redirect_search') }}" method="post">
            <button type="submit" name="search_type" value="discover_tv_by_actor">Discover TV Shows by Actor</button>
        </form>
    </body>
</html>